/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 0 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    .slick-arrow {
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        border-radius: 50%;
        outline: none;
        border: 0;
    }

    .slick-prev,
    .slick-next {
        font-size: 0;

        &:before {
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: black;
        }
    }

    .slick-next {
        right: 10px;

        &:before {
            content: '>';
        }
         &:hover {
            color: transparent;
            outline: none;
            background: transparent;
        }
        &:focus {
            color: transparent;
            outline: none;
            background: transparent;
        }
    }

    .slick-prev {
        left: 10px;

         &:before {
            content: '<';
        }
        &:hover {
            color: transparent;
            outline: none;
            background: transparent;
        }
         &:focus {
            color: transparent;
            outline: none;
            background: transparent;
        }
    }

}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}