    @import 'common';
    @import 'slick';

    .heading {
        font-size: 20px;
        margin: 20px 0;
        padding: 0 10px;

        @media screen and (min-width: 767px) {
            font-size: 30px;
            margin: 30px 0;
            color: red;
        }
    }

    .card-item {
        min-width: 200px;
        padding: 20px;
        display: inline-block;
        text-decoration: none;
        background-color:white;

        &__image {

            img {
                width: 100%;

            }

        }

        &__name {
            font-size: 13px;
            font-weight: 700;
            font-family: Montserrat, Helvetica;
            display: block;
            margin: 10px 0;
            color: black;
            text-decoration: none;
            height: 45px;
        }

        &__stock {
            font-size: 14px;
            font-weight: 500;
            font-family: Montserrat, Helvetica;
            display: block;
            margin: 10px 0;
            color: black;
            text-decoration: none;
        }

        &__price {
            font-size: 14px;
            font-weight: 700;
            font-family: Montserrat, Helvetica;
            display: block;
            margin: 10px 0;
            color: black;
            text-decoration: none;
        }

        &__cta {
            font-size: 14px;
            font-weight: 700;
            font-family: Montserrat, Helvetica;
            display: block;
            margin: 10px 0;
            color: white;
            background-color: green;
            text-align: center;
            width: 50%;
            padding: 10px;
            text-decoration: none;

        }
    }
